<div class="container">
  <div class="row">

<nav class="navbar navbar-default">
    <div class="continer-fluid">
      <div class="navbar-header">
        <a routerLink="/Home" routerLinkActive="active" class="navbar-brand"> Food Paradise </a>
      </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <a routerLink="/Menu" routerLinkActive="active"> Menu </a> </li>
        <li> <a routerLink="/Catering" routerLinkActive="active"> Catering </a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li> <a routerLink="/Signup" routerLinkActive="active"> Sign-up </a> </li>
          <li> <a routerLink="/Login" routerLinkActive="active"> Login </a> </li>
      </ul>
    </div>
  </div>
</nav>

 <router-outlet></router-outlet>

   </div>
</div>