<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/assets/vegbiryani.jpg" style=" width:100%; height: 500px !important;" alt="First Slide">
                <div class="bottom-left">                    
                    <h4> <b>  Welcome to Food paradise.</b></h4> 
                    <h5> Don't stay hungry order your food here </h5> 
                    <button type="Menu" class="btn btn-primary" [routerLink]="['/Menu']" >Click here </button>                 
                </div>
            </div>
            <div class="item">
                <img src="/assets/chickenbiryani.jpg" style=" width:100%; height: 500px !important;" alt="Second Slide">
                <div class="bottom-left">                    
                        <h4> <b>  Welcome to Food paradise.</b></h4> 
                        <h5> Don't stay hungry order your food here </h5> 
                        <button type="Menu" class="btn btn-primary" [routerLink]="['/Menu']" >Click here </button>                 
                    </div>
            </div>
            <div class="item">
                <img src="/assets/vegsnacks.jpg" style=" width:100%; height: 500px !important;" alt="Third Slide">
                <div class="bottom-left">                    
                        <h4> <b>  Welcome to Food paradise.</b></h4> 
                        <h5> Don't stay hungry order your food here </h5> 
                        <button type="Menu" class="btn btn-primary" [routerLink]="['/Menu']" >Click here </button>                 
                    </div>
            </div>
            <div class="item">
                <img src="/assets/chickenwings.jpg" style=" width:100%; height: 500px !important;" alt="Third Slide">
                <div class="bottom-left">                    
                        <h4> <b>  Welcome to Food paradise.</b></h4> 
                        <h5> Don't stay hungry order your food here </h5> 
                        <button type="Menu" class="btn btn-primary" [routerLink]="['/Menu']" >Click here </button>                 
                    </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>